Source: ldm-lliurex-theme
Section: misc
Priority: optional
Maintainer: LliureX Team <lliurex@gva.es>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.9.5

Package: ldm-lliurex-theme
Conflicts: ldm-ubuntu-themes (<< 2:2.0.40.1)
Provides: ldm-themes
Depends: ${misc:Depends}, ${shlibs:Depends}, ldm (>= 2:2.0.6-1ubuntu1)
Architecture: all
Description: LliureX theme for the LTSP Display Manager
 LDM is an ssh based X11 display manager, this package contains
 the LliureX theme for LDM.
